:root {
  --colorWhite: #FFFFFF;
  --colorBlack: #000000;
  --colorPrimary: #CCE8FF;
  --colorGray: #222222;
  --colorLightGray: #F0F4F8;
  --colorPurple: #6C38CC;
  --font: 'Roboto', 'sans-serif';
  --colorBlue: #008BFE
}

* {
  margin: 0 0;
  padding: 0 0;
  box-sizing: border-box;
}

body {
  max-width: 1920px;
  font-family: var(--font);
  font-weight: 400;
  color: var(--colorBlack);
  background: var(--colorLightGray);
  display: grid;
  place-content: center;
  min-height: 100dvh;
}
